<!-- <soccer-league-detail ng-repeat="league in $ctrl.list" league="league"></soccer-league-detail> -->
<div>
  <!-- <button ng-click="$ctrl.getAllSoccerPredictions($ctrl.soccerPredictionsIteration)">GET ALL PREDICTIONS</button> -->
  <md-button class="md-raised md-primary" ng-click="$ctrl.getAllSoccerPredictions($ctrl.soccerPredictionsIteration)">GET ALL PREDICTIONS</md-button>
  <md-input-container>
    <label>ITERATIONS CHECK</label>
    <input type="number" ng-model="$ctrl.soccerPredictionsIteration">
  </md-input-container>
</div>
<div ng-show="$ctrl.isLoading">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="By league">
        <md-content class="md-padding">
          <h1 class="md-display-2">By league</h1>
          <div>
            <h1>{{$ctrl.getAllAlreadyBetSoccerPredictionsCount()}} / {{$ctrl.getAllSoccerPredictionsCount()}}</h1>
          </div>
          <div ng-repeat="league in $ctrl.allSoccerPredictions">
            <h2>{{league.league}}</h2>
            <br>
            <div ng-show="league.events.length == 0">NO RESULT FOUND</div>
            <md-list ng-show="league.events.length > 0" flex>
              <md-list-item class="md-3-line" ng-repeat="event in league.events" ng-class="{'notBetYet' : !event.alreadyBet, 'alreadyBet': event.alreadyBet}">
                <div class="md-list-item-text" layout="column">
                  <h2>
                    <span>{{event.team}}</span>
                    <span>
                      <md-button class="md-icon-button" aria-label="Copy" ng-click="$ctrl.copyToClipboard(event.team)">
                        <md-icon md-svg-icon="img/icons/copy.svg"></md-icon>
                      </md-button>
                    </span>
                  </h2>
                  <br>
                  <span>Date : {{event.nextEvent.date}}
                    <!--<md-datepicker ng-model="event.nextEvent.date" disabled></md-datepicker>--></span>
                  <br ng-show="event.lostStakes !== undefined">
                  <span ng-show="event.lostStakes !== undefined"><b>lostStakes : {{event.lostStakes}} €</b></span>
                  <br>
                  <ul ng-show="event.lostBets !== undefined">
                    <li ng-repeat="lostBet in event.lostBets">
                      <p>Mise: {{lostBet.mise}} € || Odds: {{lostBet.odds}} || {{lostBet.events[0].eventName}} || {{lostBet.events[0].betDesc}} || {{lostBet.events[0].eventResult}}</p>
                    </li>
                  </ul>
                  <br>
                  <span>{{event.nextEvent.home}} VS {{event.nextEvent.away}}</span>
                  <br>
                  <ul>
                    <li ng-repeat="lastEvent in event.lastEvents">
                      <span>{{lastEvent.date}} {{lastEvent.home}} VS {{lastEvent.away}} || {{lastEvent.score}}</span>
                    </li>
                  </ul>
                  <!-- <md-checkbox class="md-secondary" ng-model="event.selected"></md-checkbox> -->
                  <md-divider ng-if="!$last"></md-divider>
                </div>
              </md-list-item>
            </md-list>
            <md-divider ng-if="!$last"></md-divider>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="By date">
        <md-content class="md-padding">
          <h1 class="md-display-2">By date</h1>
          <div>
            <h1>{{$ctrl.getAllAlreadyBetSoccerPredictionsCount()}} / {{$ctrl.getAllSoccerPredictionsCount()}}</h1>
          </div>
          <div>
            <md-button class="md-icon-button" aria-label="Copy" ng-click="$ctrl.copySelectedToClipboard()">
              <md-icon md-svg-icon="img/icons/copy.svg"></md-icon>
            </md-button>
          </div>
          <md-list ng-repeat="(key, value) in $ctrl.allSoccerPredictions2 | groupBy: 'nextEvent.date'" flex>
            <h1>
              <md-datepicker ng-model="value[0].nextEvent.date" disabled></md-datepicker>
            </h1>
            <md-list-item class="md-3-line" ng-repeat="event in value" ng-class="{'notBetYet' : !event.alreadyBet, 'alreadyBet': event.alreadyBet}">
              <div class="md-list-item-text" layout="column">
                <h3>{{event.league}}</h3>
                <br>
                <h2>
                  <span>{{event.team}}</span>
                  <span>
                    <md-button class="md-icon-button" aria-label="Copy" ng-click="$ctrl.copyToClipboard(event.team)">
                      <md-icon md-svg-icon="img/icons/copy.svg"></md-icon>
                    </md-button>
                  </span>
                </h2>
                <br ng-show="event.lostStakes !== undefined">
                <span ng-show="event.lostStakes !== undefined"><b>lostStakes : {{event.lostStakes}} €</b></span>
                <ul ng-show="event.lostBets !== undefined">
                  <li ng-repeat="lostBet in event.lostBets">
                    <p>Mise: {{lostBet.mise}} € || Odds: {{lostBet.odds}} || {{lostBet.events[0].eventName}} || {{lostBet.events[0].betDesc}} || {{lostBet.events[0].eventResult}}</p>
                  </li>
                </ul>
                <br>
                <span>{{event.nextEvent.home}} VS {{event.nextEvent.away}}</span>
                <br>
                <ul>
                  <li ng-repeat="lastEvent in event.lastEvents">
                    <span>{{lastEvent.date}} || {{lastEvent.home}} VS {{lastEvent.away}} || {{lastEvent.score}}</span>
                  </li>
                </ul>
              </div>
              <md-checkbox class="md-secondary" ng-model="event.selected"></md-checkbox>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
